tests.ipynb
FINAL_DATACUBE.fits
J0140-0839_DATACUBE.fits
.ipynb_checkpoints/1st cube-checkpoint.ipynb
.ipynb_checkpoints/1st cube.ipynb
.ipynb_checkpoints/2nd cube-checkpoint.ipynb
__pycache__/fundamental_functions.cpython-39.pyc
